.content-container{
    width: 100%;
    height: 100vh;
}

.main-content-default{
   width:100%;
   height:100%
}

.main-content{
    width: 100%;
}

.headerLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeHeader{
    color: white !important;
}

.footer{
    background-color: #007bff;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #343a40;
    color: white;
}

.logout_button{
    cursor:pointer;
}

@media (max-width:768px){
    .main-content-default{
        height:auto;
     }
}