.dashboard_content{
    margin-top: 10%;
}


.edit_button{
    color:#007bff;
    cursor:pointer;
}

.delete_button,.delete_button:hover{
    color:red;
    cursor:pointer;
}

.details{
    background-color: bisque;
    padding: 10px;
    margin-bottom: 9px;
    border-radius: 10px;
}

.total_employees_txt{
    display: flex;
    justify-content:center;
    align-items: center;
}

.title{
    font-size: 17px;
    font-weight: 600;
}
.remove_filter_btn{
    font-size: 15px;
    background-color: gray;
    border-radius: 50%;
    padding: 2px;
}

.helper_text{
    font-size: 20px;
    font-family: monospace;
    background: cadetblue;
}

.address_text{
    word-break:  break-word;
}

@media (max-width:768px){
    .dashboard_content {
        margin-top: 29%;
    }
    .main-content-default{
        height:auto;
     }
}
