.dashboard_content{
    margin-top: 10%;
    height:600px;
}


.edit_button{
    color:#007bff;
    cursor:pointer;
}

.delete_button,.delete_button:hover{
    color:red;
    cursor:pointer;
}

.total_employees_txt{
    display: flex;
    justify-content:center;
    align-items: center;
}

.remove_filter_btn{
    font-size: 15px;
    background-color: gray;
    border-radius: 50%;
    padding: 2px;
}