.dashboard_content{
    margin-top: 10%;
    height:600px;
}


.edit_button{
    color:#007bff;
    cursor:pointer;
}

.delete_button,.delete_button:hover{
    color:red;
    cursor:pointer;
}

.total_employees_txt{
    display: flex;
    justify-content:center;
    align-items: center;
}