body, html {
    height: 100%;
    margin: 0;
  }

.main-content_home{
    margin-top:4%;
    background-image: url("../../assets/images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
